body, ul, li{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Calibri;
}
li a i {
    font-size: 14px;
    color: #0e0d0d; 
}

ul li a{
    text-decoration: none;
    color: black;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: #6AB7BF;
}

header i{
    color: white;
}

#sub_1 li a{
    font-size: small;
}

img{
    max-width: 90%;
}

.painel_lateral{
    float: left;
    background-color: #6AB7BF;
    width: 15%;
    height: 90vh;
}

.painel_lateral ul{
    margin: 15px;
    text-align: left;
}